@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.scale-wrapper {
  transform: scale(0.75);
  transform-origin: top center; /* Keeps the position intact */
  width: 100%; /* Compensates for the reduced scale */
  height: 100%; /* Prevents content from overflowing */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  

@media (max-width: 768px) {
  main.style2 { 
    padding: 40px; 
    padding: 20px 50px;
  } 

  img.logo_style {
    width: 150px;
  }

  h1 {
    font-size: 18px!important;
    margin-bottom: 15px;
  }
} 

@media (min-width: 100%) {
  main.style2 {
    padding: 50px 150px;
  }

  header {   
    img.logo_style {
      width: 225px;
    } 

    h1 { 
      margin-left: -10px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 100%) {
  main.style2 {
    padding: 70px 230px;
  }

  header {  

    img.logo_style {
      width: 280px;
    }

    h1 { 
      margin-left: -20px; 
    }
  }
}
 
.style {
  padding: 20px;
  background: #fff;
  border: 2px solid;
  margin-left: 20px;
}

/* Container with scrollbar on the left */
.scrollbar-left-container {
  direction: rtl; /* Move scrollbar to the left */
}

/* Reset inner content direction to left-to-right */
.scrollbar-left-content {
  direction: ltr;
}

/* Optional: Customize scrollbar appearance */
.scrollbar-left-container::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-left-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-left-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.scrollbar-left-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
.scrollbar-left-container {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Container with scrollbar on the left */
.scrollbar-left-container {
  direction: rtl; /* Move scrollbar to the left */
}

/* Reset inner content direction to left-to-right */
.scrollbar-left-content {
  direction: ltr;
}

/* Custom Scrollbar Styles */
.scrollbar-left-container::-webkit-scrollbar {
  width: 16px; /* Adjust width as needed */
}

.scrollbar-left-container::-webkit-scrollbar-track {
  background: url('assets/scrollbar.png') repeat-y; /* Replace with your track image path */
  background-size: cover;
}
  